   <!-- Contact -->
   <section id="contact">
    <div class="contact">
      <div class="contact-msg">
        <h3>Contact Me</h3>
        <p>
          Would you like to hire me? <br />Shoot me a message and let's get
          started on realizing your next project!
        </p>

        <div class="icons">
          <img id="contact-logo" src="/imgs/logo-wt.png" alt="" />
          <a
            href="https://github.com/orreryofcode"
            target="_blank"
            rel="noopener"
            ><i class="fa-brands fa-github fa-4x"></i
          ></a>
        </div>
      </div>

      <form action="mailto: orreryofcode@gmail.com" class="contact-form" method="post" enctype="text/plain">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required/>
        <label for="subject">Subject: </label>
        <input type="text" id="subject" name="subject" required/>
        <label for="body">Message: </label>
        <textarea
          name="body"
          id="body"
          cols="30"
          rows="10"
          placeholder="Hey Raul!"
          required
        ></textarea>

        <button type="submit" class="contact-btn">Send</button>
      </form>
    </div>
  </section>

  <script
    src="https://kit.fontawesome.com/81245feb4c.js"
    crossorigin="anonymous"
  ></script>
  <script src="../app.js"></script>
</body>
</html>