<%- include('./partials/homeHeader') -%>
<body>
  <!-- Navigation -->
  <nav class="navbar">
    <div class="container">
      <a href="/">
        <img id="navlogo" src="./imgs/logo-wt.png" alt="" />
      </a>
      <ul class="navbar-desktop-menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/works">Works</a>
        </li>
        <!-- <li>
          <a href="/blog">Blog</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <!-- Header/Hero Section -->
  <header class="header">
    <div class="header-inner">
      <div class="container">
        <img id="header-img" src="./imgs/name-wt.png" alt="" />
        <p>Welcome to my corner of the web.</p>
        <p>Stay awhile and listen.</p>
        <button id="resume">Resume</button>
      </div>
    </div>
  </header>

  <!-- About -->
  <section id="about">
    <div class="about-container">
      <h1 id="about-label">about</h1>
      <!-- <div class="about-img">1</div> -->
      <div class="about-content">
        My name is Raul Menendez. I am a frontend developer who enjoys creating
        functional and responsive web pages and web apps. I have over one year
        of experience with various tools such as:<br />
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript/ES6</li>
          <li>ReactJS</li>
          <li>Node.js</li>
          <li>Express</li>
          <li>MongoDB/Mongoose</li>
          <li>Photoshop</li>
          <li>Figma</li>
          <li>VSCode</li>
        </ul>
        When I am not coding, I like to spend my time with video games, my
        guitar or my dog🐶.
        <!-- If you would like to learn a little bit more about
        these hobbies, feel free to check out my <a href="/blog">blog</a>. -->
      </div>
    </div>
  </section>
  <%- include("./partials/footer")-%>
</body>
