<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/blogStylesheet.css" />
    <title>Raul Menendez | Web Developer</title>
    <link rel="icon" type="image/x-icon" href="/imgs/logo-wt.png" />
  </head>
</html>
  <body>
    <!-- Navigation -->
    <nav class="navbar">
      <div class="container">
        <a href="/">
          <img id="navlogo" src="/imgs/logo-wt.png" alt="" />
        </a>
        <ul class="navbar-desktop-menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Blog info -->
    <section id="blog-post">
      <div class="blog-post-container">
        <h1><%= title%></h1>
        <div class="blog-post-content">
            <div class="blog-post-entry">
                <p><%= body%></p>
            </div>
            <a href="/blog">Back to Blog</a>        
        </div>
      </div>
    </section>
    <%- include('./partials/footer') -%>
  </body>
</html>
