@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 100px;
  width: 100%;
  z-index: 10;
  background-color: #151515;
}

.navbar .container {
  display: flex;
  padding: 30px 250px;
  justify-content: space-between;
}

.navbar-desktop-menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar-desktop-menu > li {
  display: flex;
  align-items: center;
}

.navbar-desktop-menu > li > a {
  color: white;
  text-decoration: none;
  padding: 0px 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

#navlogo {
  height: 3.5rem;
}

/* Main Blog Page Styling */
.blog-container {
  width: 100%;
  min-height: 50vh;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 60%;
}

.blog-entry {
  margin-top: 20px;
  padding: 15px 0px;
  background-color: #151515;
  padding: 20px;
}

h1 {
  font-size: 5rem;
  color: #151515;
}

h2 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

p {
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #d9d9d9;
}

a {
  color: #d9d9d9;
}

a:visited {
  color: #d9d9d9;
}

/* Individual Blog Post Styling */
.blog-post-container {
  width: 100%;
  min-height: 50vh;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 100px;
}

.blog-post-container > h1 {
  letter-spacing: 0.4rem;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 60%;
}

.blog-post-content a {
  color: #151515;
}

.blog-post-content a:visited {
  color: #151515;
}

.blog-post-entry {
  margin-top: 20px;
  padding: 15px 0px;
  border-bottom: rgb(21, 21, 21, 0.3) 1px solid;
}

.blog-post-entry p {
  color: #151515;
}

.contact {
  padding: 30px 500px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  background-color: #151515;
}

.contact-msg {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.contact-msg h3 {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.contact-msg p {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

#contact-logo {
  height: 5.5rem;
  width: 5.5rem;
}

.fa-brands {
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.contact-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: 200px;
}

.contact-form label {
  color: #d9d9d9;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.contact-form input {
  padding: 5px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  padding: 5px;
}

textarea[placeholder] {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.contact-btn {
  width: 100px;
  padding: 5px 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #d9d9d9;
  align-self: flex-end;
}

.contact-btn:hover {
  cursor: pointer;
  background-color: #d9d9d9;
  color: #151515;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .header-inner .container {
    padding: 50px 80px;
    text-align: center;
  }

  h2 {
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }

  #header-img {
    padding-top: 5%;
    max-width: 550px;
  }
}
